<h2>New Post</h2>

<form action="<%= posts_url %>" method="post">
  <%= authenticity_token %>

  <label>Title:<br>
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label><br>

  <label>Body:<br>
    <textarea name="post[body]"><%= @post.body %></textarea>
  </label><br>

  <label>Link 1:
    <input type="text" name="links[1][url]" value="">
  </label><br>

  <label>Link 2:
    <input type="text" name="links[2][url]" value="">
  </label><br>

  <label>Link 3:
    <input type="text" name="links[3][url]" value="">
  </label><br>

<% current_user.owned_circles.each do |circle| %>
  <label><%= circle.name %>
    <input type="checkbox" name="post[shared_circle_ids][]"
      value="<%= circle.id %>">
  </label><br>
<% end %>

  <button>Publish</button>
</form>