<!DOCTYPE html>
<html>
<head>
  <title>FriendCircle</title>
  <%= stylesheet_link_tag    'application', media: 'all',
    'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Friend Circles</h1>

<% if signed_in? %>
  <h2><%= current_user.email %></h2>
  <form action="<%= session_url %>" method="post">
    <%= authenticity_token %>
    <input type="hidden" name="_method" value="delete">
    <button>Sign out</button>
  </form>
<% end %>

<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
